{
	order reverse_proxy before route
	admin off
	log {
		output file /var/log/caddy/access.log
		level ERROR
	}
}

:80 {
    reverse_proxy unix//dev/shm/marzban.sock

    file_server

	@vws {
		path /websocket
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @vws 127.0.0.1:2012
}
